<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel="stylesheet" href="/View/css/style.css">
</head>
<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Garanta o seu</a></li>
                <li><a href="">Sobre nós</a></li>
            </ul>


        </nav>



    </header>

    <main class="main-content">
        <section class="wrapper">
            <div class="image-text">
                <div>
                <img src="" alt="">
                </div>
                <div class="image-text_text">
                    <h1>TRUCO!</h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident neque hic aut iure at sunt temporibus voluptates mollitia. Dolores voluptates consequatur veritatis architecto incidunt dolorem libero expedita culpa fuga exercitationem.</p>
                </div>
            </div>
        



        </section>
    </main>


</body>
</html>